@charset "utf-8"

.page
  font-size: 14px
  min-width: 900px
  &__content
    display: flex
    flex-direction: row-reverse
  &__main
    width: calc(100% - 300px)
    margin-left: 300px
    position: relative
    &__article
      padding: 40px 40px
      h1
        font-size: 40px
        margin-bottom: 20px
      h2
        font-size: 30px
        margin-top: 40px
        margin-bottom: 20px
      h3
        font-size: 20px
        margin-top: 40px
        padding-top: 40px
        border-top: solid 1px #ddd
        margin-bottom: 20px
      *:not([class])
        margin-bottom: 12px
      ul,
      ol
        li:not([class])
          margin-bottom: 4px
      ul:not([class])
        padding-left: 1.5em
        li:not([class])
          list-style: disc outside
      b:not([class])
        font-weight: bold
      .__b
        color: #ca0404 !important
        a:not([class])
          color: #ca0404 !important
      .__c
        display: inline-block
        color: #ca0404
        background-color: #fafafa
        border: solid 1px #eee
        border-radius: 2px
        margin: 0 2px
        padding: 3px 6px
      .__border:not(.c-hide-menu):not(.c-btn)
        border: solid 2px #f0f0f0
        margin-bottom: 40px
        padding: 20px 20px
      a:not([class])
        text-decoration: underline
        &:hover
          text-decoration: none
      pre
        margin: 0
        code
          margin: 0
          padding: 0 20px 20px
        + div
          border: solid 2px #f0f0f0
          margin-bottom: 40px
          padding: 20px 20px
    &__toc
      position: sticky
      top: 0
      border-left: solid 1px #eee
  &__sidebar
    position: fixed
    top: 0
    left: 0
    width: 300px
    height: 100%
    border-right: solid 1px #eee
    padding-bottom: 80px
    overflow-y: scroll
    &__inner
      width: 100%
      padding: 40px 20px
      >ul
        >li
          margin-bottom: 8px
          ul
            padding-left: 20px



