<footer class="main-footer p-footer">
  <div class="text-right">
    <small class="d-block p-footer__copyright">&copy; 2020 <a href="https://adminlte.io">Senin</a>. All rights reserved.</small>
  </div>
</footer>
