<aside class="main-sidebar sidebar-dark-primary elevation-4 p-sidebar">
  <!-- Brand Logo -->
  <div class="p-sidebar-logo">
    <a href="/" class="p-sidebar-logo__link">
      <div class="d-inline-block mr-1" style="width: 30px; border-radius: 50%; background: rgba(255, 255, 255, .7); text-align: center; line-height: 30px">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house-fill" fill="#555" xmlns="http://www.w3.org/2000/svg" style=" margin-top: -4px;">
          <path fill-rule="evenodd" d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
          <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
        </svg>
      </div>
      <span class="brand-text font-weight-light">Senin</span>
    </a>
  </div>

  <nav class="p-sidebar-nav" id="js-sidebar-nav"></nav>

  <!-- Sidebar -->
  <!-- <div class="sidebar">
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="https://illalet.com/wp-content/uploads/2017/04/16_2_6.png" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">User Name</a>
      </div>
    </div>

    <nav class="p-sidebar-nav" id="js-sidebar-nav"></nav>

  </div> -->
  <!-- /.sidebar -->
</aside>
