@charset "utf-8"

@use "../foundation/global" as *

.l-flex
  display: flex
  flex-wrap: wrap
  &.__col-center
    justify-content: center
  &.__col-between
    justify-content: space-between
  &.__row-center
    align-items: center
  &.__nowrap
    flex-wrap: nowrap
  .__size
    flex: 0 0 auto