@charset "utf-8"

@use "../../../foundation/global" as *

.p-sidebar-nav
  $parent: &
  $color: rgba($c--white, .7)
  height: 100%

  &__item
    $parent_item: &
    border-bottom: solid 1px rgba($c--white, .2)
    &--parent
      @extend #{$parent_item}
    &--child
      @extend #{$parent_item}
  &__link
    $parent_link: &
    display: block
    color: $color
    font-size: 13px
    padding: 16px 8px
    position: relative
    transition: .2s
    &:hover
      color: $color
      transition: .2s
      @at-root #{$parent}-parent #{$parent_link}:hover
        background-color: #495056
      @at-root #{$parent}-child--level-01 #{$parent_link}:hover
        background-color: #5c656f
      @at-root #{$parent}-child--level-02 #{$parent_link}:hover
        background-color: #6b747b
    @at-root #{$parent_link}[data-id]
      &::before
        content: ""
        display: block
        width: 5px
        height: 5px
        border-top: solid 1px $c--white
        border-left: solid 1px $c--white
        +center(y, rotate(135deg))
        right: 12px
    &--parent
      @extend #{$parent_link}
    &--child
      @extend #{$parent_link}
  &__text
    $parent_text: &
    &--parent
      @extend #{$parent_text}
    &--child
      @extend #{$parent_text}

  &-parent
    height: 100%
    border-top: solid 1px rgba($c--white, .2)

  &-child
    $parent_child: &
    &__block
      $parent_block: &
      position: absolute
      top: 0
      width: 100%
      height: 100%
      opacity: 0
      transition: .3s
      &[data-open="true"]
        opacity: 1
      &[data-open="false"]
        opacity: 0
      @at-root #{$parent_child}--level-01 #{$parent_block}
        background-color: #4c545d
        left: calc(100% - 16px)
        width: calc(100% - 8px)
        &[data-open="true"]
          left: 8px
        &[data-open="false"]
          left: calc(100% - 16px)
      @at-root #{$parent_child}--level-02 #{$parent_block}
        background-color: #5f6972
        left: calc(100% - 8px)
        width: calc(100% - 16px)
        &[data-open="true"]
          left: 16px
        &[data-open="false"]
          left: calc(100% - 8px)
    &__head
      $parent_head: &
      color: rgba($c--white, .8)
      font-size: 14px
      background-color: rgba($c--white, .1)
      padding: 20px 16px
      position: relative
      &::before
        content: ""
        display: block
        width: 1px
        height: 100%
        background-color: rgba($c--white, .4)
        position: absolute
        top: 0
        left: 0
    &__back-btn
      display: block
      color: $color
      font-size: 12px
      border-bottom: solid 1px rgba($c--white, .4)
      height: auto
      padding: 24px 8px
      padding-left: 24px
      position: relative
      &:hover
        color: $color
      &::before
        content: ""
        display: block
        width: 6px
        height: 6px
        border-top: solid 2px #c2c7d0
        border-left: solid 2px #c2c7d0
        +center(y, rotate(-45deg))
        left: 12px
    &__content
      height: calc(100% - 107px) // 107 = head + btn
      overflow-y: scroll
      &::-webkit-scrollbar
        width: 8px
      &::-webkit-scrollbar-track
        border-radius: 0
        background-color: $c--gray-m
      &::-webkit-scrollbar-thumb
        border-radius: 0
        background-color: $c--gray-l
    &__lists
      padding-bottom: 80px

