@charset "utf-8"

@use "../../../foundation/global" as *

.p-sidebar-logo
  &__link
    display: block
    color: rgba($c--white, .7)
    padding: 16px 12px
    &:hover
      color: rgba($c--white, .7)