@charset "utf-8"

@use "../../../foundation/global" as *

.p-main-content-header
  background-color: $c--white
  border-bottom: solid 1px $c--gray-m
  margin-bottom: 24px
  position: sticky
  top: 0
  z-index: 1
  &__upper
    display: flex
    align-items: center
    min-height: 64px
    padding: 12px 16px
  &__menu
    font-size: 13px
    border-top: solid 1px $c--gray-s
    padding: 8px 12px
  &__head-txt
    flex: 0 0 auto
    font-size: 17px
    font-weight: 500
    margin: 0
  &__other-function
    display: flex
    justify-content: flex-end
    align-items: center