@charset "utf-8"

@use "../../foundation/global" as *

// .u
//   &-fl
//     float: left !important
//   &-fr
//     float: right !important
//   &-fn
//     float: none !important

//   &-dn
//     display: none !important
//   &-di
//     display: inline !important
//   &-db
//     display: block !important
//   &-diib
//     display: inline-block !important
//   &-dtb
//     display: table !important
//   &-df
//     display: flex !important

//   &-flex
//     display: flex !important
//   &-flex-jf-between
//     justify-content: space-between !important
//   &-flex-jf-around
//     justify-content: space-around !important
//   &-flex-jf-center
//     justify-content: center !important
//   &-flex-jf-start
//     justify-content: flex-start !important
//   &-flex-jf-end
//     justify-content: flex-end !important
//   &-flex-ai-center
//     align-items: center !important
//   &-flex-ai-start
//     align-items: flex-start !important
//   &-flex-ai-end
//     align-items: flex-end !important
//   &-flex-0-0-auto
//     flex: 0 0 auto !important
//   &-flex-1-1-auto
//     flex: 1 1 auto !important

//   &-position-ab
//     position: absolute !important
//   &-position-rt
//     position: relative !important
//   &-position-st
//     position: static !important

//   &-border-top-none
//     border-top: none !important
//   &-border-left-none
//     border-left: none !important
//   &-border-right-none
//     border-right: none !important
//   &-border-bottom-none
//     border-bottom: none !important

//   &-width-100p
//     width: 100% !important
//   &-width-auto
//     width: auto !important
//   &-height-100p
//     height: 100% !important
//   &-height-auto
//     height: auto !important










//  Text
// *********************
$fontsize: 10
@while $fontsize < 20
  .u-font-s-#{$fontsize}
    font-size: $fontsize + px
  $fontsize: $fontsize + 1

.u
  &-font-w-normal
    font-weight: normal !important
  &-font-w-bold
    font-weight: bold !important

  &-text-center
    text-align: center !important
  &-text-left
    text-align: left !important
  &-text-right
    text-align: right !important

//  Margin
// *********************
$marginType:(ss: ("ss", "4px"),s: ("s", "8px"), m: ("m", "16px"), l: ("l", "24px"), ll: ("ll", "40px"), zero: ("0", "0"))
@each $key, $value in $marginType
  .u-mt-#{nth($value, 1)}
    margin-top: #{nth($value, 2)} !important
  .u-ml-#{nth($value, 1)}
    margin-left: #{nth($value, 2)} !important
  .u-mr-#{nth($value, 1)}
    margin-right: #{nth($value, 2)} !important
  .u-mb-#{nth($value, 1)}
    margin-bottom: #{nth($value, 2)} !important
  .u-ml-0--sp
    +max-screen($breackpoint_sp)
      margin-left: 0 !important
  .u-mr-0--sp
    +max-screen($breackpoint_sp)
      margin-right: 0 !important
.u-m0
    margin: 0 !important

//  Padding
// *********************
$paddingType:(ss: ("ss", "4px"),s: ("s", "8px"), m: ("m", "16px"), l: ("l", "24px"), ll: ("ll", "40px"), zero: ("0", "0"))
@each $key, $value in $paddingType
  .u-pt-#{nth($value, 1)}
    padding-top: #{nth($value, 2)} !important
  .u-pl-#{nth($value, 1)}
    padding-left: #{nth($value, 2)} !important
  .u-pr-#{nth($value, 1)}
    padding-right: #{nth($value, 2)} !important
  .u-pb-#{nth($value, 1)}
    padding-bottom: #{nth($value, 2)} !important
.u-p0
    padding: 0 !important


//  Width
// *********************
@for $i from 0 through 20
  .u-w#{$i * 40}
    width: #{$i * 40}px !important

.u
  &-w100p
    width: 100%