@charset "utf-8"

@use "../../foundation/global" as *

.p-infomation
  &__item
    display: flex
    align-items: center
    padding: 16px 8px
    &:not(:first-of-type)
      border-top: solid 1px $c--gray-m
  &__date
    min-width: 80px
  &__title
    margin-left: 16px
    a
      color: $c--link
      font-size: 13px
      &:hover
        text-decoration: underline