@charset "utf-8"

@use "global" as *

body,
input,
button,
textarea,
select
  color: $c--text
  font-size: 14px
  font-family: "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif
  line-height: 1.7
  letter-spacing: 0
