@charset "utf-8"

@use "../../foundation/global" as *

.c-alert
  $parent: &
  position: fixed
  top: -50px
  left: 0
  z-index: 9999
  width: 100%
  transition: .2s
  &[data-active="true"]
    top: 0
  &[data-active="false"]
    top: -50px
  &--ok
    @extend #{$parent}
    background-color: $c--success
  &--warning
    @extend #{$parent}
    background-color: $c--warning
  &__inner
    padding: 12px 20px
  &__text
    color: $c--white
    font-weight: 500
    text-align: center
  &__close-btn
    display: block
    width: 16px
    height: 16px
    +center(y)
    right: 16px
    &::before,
    &::after
      content: ""
      display: block
      width: 80%
      height: 1px
      background-color: $c--white
    &::before
      +center(xy, rotate(45deg))
    &::after
      +center(xy, rotate(-45deg))