@charset "utf-8"

@use "../../foundation/global" as *

.c-breadcrumb
  display: flex
  margin-top: -4px
  &__item
    font-size: 12px
    margin-bottom: 4px
    &:not(:first-of-type)
      margin-left: 20px
      position: relative
      &::before
        content: ""
        display: block
        width: 4px
        height: 4px
        border-top: solid 1px $c--black
        border-left: solid 1px $c--black
        +center(y, rotate(135deg))
        left: -12px
  &__link
    color: $c--gray-l
    &:hover
      color: $c--gray-l
      text-decoration: underline
  &__current
    color: $c--gray-l