@charset "utf-8"

@use "../../foundation/global" as *

.c-btn
  display: block
  color: $c--white
  font-size: 14px
  text-align: center
  background-color: $c--link
  border-radius: 4px
  width: auto
  padding: .6em 1.3em
  transition: .2s
  +max-screen($breackpoint_sp)
    width: 100%
  &:hover
    color: $c--white
    background-color: darken($c--link, 7%)
    transition: .2s
  &.__disabled
    color: $c--gray-l
    background-color: $c--gray-s
    cursor: not-allowed
  &.__border
    color: $c--link
    background-color: $c--white
    border: solid 1px $c--link
    &:hover
      color: $c--white
      background-color: $c--link
    &.__disabled
      color: $c--gray-l
      background-color: $c--gray-s
      border: solid 1px $c--gray-m
      cursor: not-allowed
      &:hover
        color: $c--gray-l
        background-color: $c--gray-s
  &.__text
    color: $c--black
    background-color: transparent
    padding: .6em 1em
    &.__gray
      color: $c--gray-l
    &.__disabled
      color: $c--gray-l
      cursor: not-allowed
    &:hover
      background-color: $c--gray-s
  &.__big
    padding: .8em 2.4em