@charset "utf-8"

@use "../../foundation/global" as *

.c-card
  background-color: $c--white
  border: solid 1px rgba($c--gray-m, .7)
  border-radius: 8px
  box-shadow: 0 2px 4px rgba(#000, .05)
  + .c-card
    margin-top: 24px
  &__header
    // color: #4d4d4d
    font-size: 15px
    font-weight: 500
    border-bottom: solid 1px $c--gray-s
    padding: 24px 32px
  &__body
    padding: 24px 32px 32px

  &__tab-header
    $parent_tab: &
    display: flex
    align-items: center
    border-bottom: solid 1px $c--gray-s
    padding: 0 12px
    height: 54px
    white-space: nowrap
    overflow-x: auto
    &__item
      margin-right: 8px
    &__link
      $parent_tab_link: &
      display: block
      color: $c--gray-l
      padding: 16px 16px 12px
      position: relative
      &:hover
        color: $c--black
      @at-root #{$parent_tab}__item.__active #{$parent_tab_link}
        color: $c--black
      &::before
        content: ""
        display: block
        width: 100%
        height: 2px
        background-color: $c--primary
        position: absolute
        left: 0
        bottom: -1px
        opacity: 0
        transition: .2s
        @at-root #{$parent_tab}__item.__active #{$parent_tab_link}::before
          opacity: 1
        @at-root #{$parent_tab_link}:hover::before
          opacity: 1
          background-color: $c--gray-l
          transition: .2s