@charset "utf-8"

@use "../../foundation/global" as *

.c-form
  &__head
    font-size: 13px
    margin-bottom: 16px
  &__row
    $parent: &
    + #{$parent}
      margin-top: 20px
      padding-top: 20px
      border-top: solid 1px $c--gray-m
  &__submit
    margin-top: 40px