@charset "utf-8"

@use "../../foundation/global" as *

.c-icn
  &--back
    display: inline-block
    border: solid 1px rgba($c--gray-l, .5)
    border-radius: 4px
    width: 36px
    height: 36px
    position: relative
    transition: .2s
    &:hover
      border: solid 1px $c--gray-l
      transition: .2s
    img
      +center(xy)
      width: 50%