@charset "utf-8"

@use "../../foundation/global" as *

.c-linkThumb
  display: flex
  flex-wrap: wrap
  &__item
    min-width: 120px
    min-height: 120px
    margin: 20px 20px 0
  &__link
    $parent_link: &
    display: block
    padding: 16px 20px
    position: relative
    transition: .2s
    &::before
      content: ""
      display: block
      width: 110%
      height: 110%
      +center(xy)
      background-color: $c--gray-s
      opacity: 0
      transition: .2s
      @at-root #{$parent_link}:hover::before
        width: 100%
        height: 100%
        opacity: 1
        transition: .2s
  &__img
    width: 50px
    margin: auto
    position: relative
  &__caption
    color: $c--link
    font-size: 13px
    text-align: center
    margin-top: 20px
    position: relative
    span
      position: relative
      &::before
        content: ""
        display: block
        +icon("icn/arrow-link.png", 9px, 9px)
        +center(y)
        left: -16px