@charset "utf-8"

@use "../../foundation/global" as *

.c-modal
  display: none
  position: fixed
  top: 0
  left: 0
  z-index: 9999
  width: 100%
  height: 100%
  display: flex
  justify-content: center
  align-items: center
  background-color: rgba(#000, .85)
  &[data-active="true"]
    display: flex !important
  &[data-active="false"]
    display: none !important
  &__inner
    min-width: 500px
    position: relative
    +max-screen($breackpoint_pc)
      width: 95%
      min-width: auto
      margin: auto
  &__close-btn
    width: 24px
    height: 24px
    background-color: $c--black
    border-radius: 50%
    position: absolute
    top: -12px
    right: -12px
    &::before,
    &::after
      content: ""
      display: block
      width: 60%
      height: 2px
      background-color: $c--white
    &::before
      +center(xy, rotate(45deg))
    &::after
      +center(xy, rotate(-45deg))