@charset "utf-8"

@use "../../foundation/global" as *

.c-pager
  display: flex
  a,
  span
    display: flex
    justify-content: center
    align-items: center
    color: $c--gray-l
    font-size: 14px
    font-weight: 500
    width: 40px
    height: 40px
    border-radius: 2px
    margin: 0 2px
    position: relative
    transition: .2s
    &:hover
      background-color: rgba($c--black, .1)
      transition: .2s
    &.__current
      color: $c--white
      background-color: $c--black
    &.__prev,
    &.__next
      &::before
        content: ""
        display: block
        width: 6px
        height: 6px
        border-top: solid 2px $c--gray-l
        border-left: solid 2px $c--gray-l
    &.__prev
      &::before
        +center(xy, rotate(-45deg))
    &.__next
      &::before
        +center(xy, rotate(135deg))