@charset "utf-8"

@use "../../foundation/global" as *

.c-tab
  $parent: &
  display: flex
  align-items: center
  &__item
    margin-right: 8px
  &__link
    $parent_link: &
    display: block
    color: $c--gray-l
    padding: 16px 16px 12px
    position: relative
    &:hover
      color: $c--black
    @at-root #{$parent}__item.__active #{$parent_link}
      color: $c--black
    &::before
      content: ""
      display: block
      width: 100%
      height: 2px
      background-color: $c--primary
      position: absolute
      left: 0
      bottom: -1px
      opacity: 0
      transition: .2s
      @at-root #{$parent}__item.__active #{$parent_link}::before
        opacity: 1
      @at-root #{$parent_link}:hover::before
        opacity: 1
        background-color: $c--gray-l
        transition: .2s